# -*- mode: yaml -*-
# vi: set ft=yaml:
includes:
    #- tools/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    #- tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    #- tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    level: 0
    paths:
        - packages/
    bootstrapFiles:
        - tools/phpunit/vendor/autoload.php
        - tools/phpstan/vendor/autoload.php
        - packages/bard/vendor/autoload.php
    excludePaths:
        - packages/*/vendor/*
