<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
    beStrictAboutCoverageMetadata="false">

  <testsuites>
    <testsuite name="all">
      <directory>packages/*/Tests</directory>
    </testsuite>
  </testsuites>

  <coverage/>

  <source>
    <include>
      <directory>packages/*</directory>
    </include>
    <exclude>
      <directory>packages/*/Tests</directory>
      <directory>packages/*/vendor</directory>
    </exclude>
  </source>

</phpunit>
