<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
    backupGlobals="false"
    colors="true"
    cacheResult="true"
    executionOrder="defects"
    beStrictAboutCoverageMetadata="true"
    stopOnDefect="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="true"
    stopOnDeprecation="true"
    stopOnNotice="true"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
>

    <php>
        <ini name="error_reporting" value="-1" />
    </php>
    <testsuites>
        <testsuite name="Chorale Test Suite">
            <directory>src/Tests</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true" pathCoverage="false" ignoreDeprecatedCodeUnits="true" disableCodeCoverageIgnore="false" />

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Tests</directory>
        </exclude>
    </source>
</phpunit>

