name: Unit Tests
on:
    push:
        branches: [main]
        paths:
            - '.github/workflows/unit-tests.yml'
            - 'packages/**'
            - 'composer.json'
            - 'phpunit.xml.dist'
    pull_request:
        branches: [main]
        paths:
            - '.github/workflows/unit-tests.yml'
            - 'packages/**'
            - 'composer.json'
            - 'phpunit.xml.dist'

permissions:
    contents: read

concurrency:
    group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
    test:
        name: PHPUnit
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-version: ['8.1', '8.2']
        steps:
            - uses: actions/checkout@v3

            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-version }}
                  coverage: none

            - name: Cache Composer Packages
              id: composer-cache
              uses: actions/cache@v3
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-php-

            - run: make install

            - run: make test
